body {
 background-color: teal;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: teal;
}

/* .  viittaa class attribuuttiin*/
.punainen {
    color: red;
}

/* # viittaa id attribuuttiin*/

#sininen {
    color: blue;
}

.musta{
   color: black;
}